body {
    margin: 0px;
    padding: 0px;
}

.header-nav {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 10px 20px;
}

.dev {
    font-size: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff;
}

nav button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #0056b3;
}

.btnLeave {
    margin-left: 20px;
}

.leftLinks {
    display: flex;
    align-items: center;
    margin-right: auto;
}
