body {
    margin: 0px;
    padding: 0px;
}

.header-nav {
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Центрируем по вертикали */
    background-color: #1e1e1e; /* Темный фон для навигации */
    color: #ffffff; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы внутри навигации */
}

.dev {
    font-size: 20px; /* Размер шрифта для имени разработчика */
}

.nav-links {
    display: flex; /* Используем flexbox для выравнивания ссылок и кнопок */
    align-items: center; /* Центрируем по вертикали */
}

nav a {
    color: #ffffff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 0 15px; /* Отступы между ссылками */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

nav a:hover {
    color: #007bff; /* Цвет ссылок при наведении */
}

nav button {
    background-color: #007bff; /* Цвет кнопки */
    color: #ffffff; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Скругление углов */
    padding: 10px 15px; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход фона кнопки */
}

nav button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}
