.top-80-px {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-delete {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}
.button-delete:hover {
    background-color: #C4D1ED;
    transform: scale(1.1);
}

.select-container {
    position: relative;
    height: 28px;
    width: 150px;
}
  
select {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
select::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #6c757d;
}
  
option {
    background-color: #f8f9fa;
}
  
select:focus {
    outline: none;
    border-color: #80bdff;
    border: 2px solid #5AB0FF;
}

select {
    width: 20px;
}

